{% extends "default.html" %}

{% load thumbnail pymorphy_tags %}
{% load front_admin_tags %}

{% block content %}
	{% FrontAdmin "/admin/article/article/" %}
	{% if article_list %}
		<div id="news" class="row-fluid">
			{% for item in article_list %}
				{% if forloop.counter0|divisibleby:"2" %}
					<div class="row-fluid">
				{% endif %}
				<div class="span6">
					<div class="news_item margin_b">
						<div class="date"><div>{{ item.get_created_at|date:"d" }}</div><div>{{ item.get_created_at|date:"F"|inflect:"рд" }}</div></div>
						<div class="media-body block">
							<h5><a href="{{ item.get_absolute_url }}" title="{{ item.get_title }}">{{ item.get_title }}</a></h5>
							<div>{{ item.get_text|safe|striptags|truncatewords:"30" }}</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				{% if forloop.counter|divisibleby:"2" or forloop.last %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		
		{% include "paginate.html" %}
	{% else %}
		Раздел в разработке.
	{% endif %}
{% endblock %}
